@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);

::-moz-selection {
    color: white;
    background: #F79E02; /* Firefox */
}

::-webkit-selection {
    color: white;
    background: #F79E02; /* Webkit */
}

::selection {
    color: white;
    background: #F79E02;
}

::-webkit-input-placeholder {
    color: #F79E02;
}

:-moz-placeholder {
    color: #F79E02;
}

::-moz-placeholder {
    color: #F79E02;
}

:-ms-input-placeholder {
    color: #F79E02;
}

body {
    padding-top: 70px;
    color: #6B6969;
}

body.lang-fr h1 strong:before {
    content: "«";
}

body.lang-fr h1 strong:after {
    content: "»";
}

/* START Menu */

.container > .navbar-header {
    margin-left: -50px;
}

.navbar-right {
    margin-right: -50px;
}

.navbar {
    border-bottom: #DA862D solid 6px;
    font-family: Montserrat,sans-serif;
    background: #F79E02;
}

.navbar-default .navbar-brand {
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    transition: all .5s ease-in-out;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #C8751C;
}

.navbar-default .navbar-brand:before,
.navbar-default .navbar-brand:after {
    content: "-";
    padding: 5px;
}

.navbar-default .navbar-nav > li {
    height: 50px;
    font-size: 12px;
}

.navbar-default .navbar-nav > li a {
    padding: 15px 5px 5px 5px;
}

.navbar-default .navbar-nav > li:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    margin-top: 50px;
    background: #F79E02;
    transition: all .5s ease-in-out;
}

.navbar-default .navbar-nav > li:hover:before {
    height: 50px;
    margin-top: 0;
    color: white;
    background: #DA862D;
}

.navbar-default .navbar-nav > li a {
    height: 50px;
    border-right: solid 1px white;
}

.navbar-default .navbar-nav > li:last-child a {
    border: none;
}

.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav > .active:before {
    background: #DA862D;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: white;
    background: transparent;
}

.navbar-default .navbar-nav > .active > a:before {
    content: none;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
    text-transform: uppercase;
    color: white;
}

.navbar-default .navbar-right > li a {
    border: none;
}

/* START CSS Theme dropdown */

#choose-css-theme > div {
    margin: 8px;
    margin-right: 0;
}

#choose-css-theme .btn-default {
    z-index: 1;
    position: relative;
    border: none;
    border: solid 1px white;
    border-radius: 0;
    color: white;
    background: #DA862D;
}

#choose-css-theme .drodown.open .btn-default {
    border-bottom: none;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    outline: none;
    color: white;
}

#choose-css-theme .btn-default:active {
    outline: none;
    box-shadow: none;
}

#choose-css-theme .dropdown-menu {
    z-index: 0;
    top: 38px;
    padding: 0;
    border: solid 1px white;
    border-radius: 0;
    color: white;
    background: #DA862D;
}

#choose-css-theme .dropdown-menu li a {
    position: relative;
    height: 32px;
    padding: 0;
    color: white;
    transition: all .5s ease-in-out;
}

#choose-css-theme .dropdown-menu li a:hover,
#choose-css-theme .dropdown-menu li a:focus {
    color: #DA862D;
    background: #DA862D;
}

#choose-css-theme .dropdown-menu li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 32px;
    background: #DA862D;
    transition: all .5s ease-in-out;
}

#choose-css-theme .dropdown-menu li a:hover:before {
    width: 100%;
    color: #DA862D;
    background: white;
}

#choose-css-theme .dropdown-menu li a span {
    display: block;
    padding: 5px;
    padding-left: 25px;
    color: white;
}

#choose-css-theme .dropdown-menu li a:hover span {
    position: inherit;
    color: #DA862D;
}

#choose-css-theme .dropdown-menu li.selected a span:before {
    content: "\e013";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    margin-left: -21px;
    padding-top: 1px;
    padding-left: 3px;
    border-radius: 10px;
    font-family: 'Glyphicons Halflings';
    font-size: 10px;
    color: #DA862D;
    background: white;
}

#choose-css-theme .dropdown-menu li.selected a span:hover:before {
    color: white;
    background: #DA862D;
}

/* END CSS Theme dropdown */

/* END menu */

/* START Sidebar */

#sidebar {
    padding: 0;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    -ms-word-break: break-all;
    -ms-hyphens: auto;
}

.well-sm {
    margin-bottom: 0;
    padding: 15px;
    padding-bottom: 0;
    border: none;
    border-radius: 0;
    border-right: #DA862D solid 4px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    color: white;
    background: #F79E02;
    box-shadow: none;
}

.well-sm h4 {
    margin: 0 0 10px 0;
    padding: 5px 10px;
    min-width: 120px;
    border-radius: 30px;
    border-bottom: #DA862D solid 3px;
    color: #F79E02;
    background: white;
    transition: all .5s ease-in-out;
}

#sidebar .list-group-item a:hover h4,
#sidebar .list-group-item a:focus h4 {
    color: #DA862D;
}

#sidebar a {
    display: block;
    font-size: 13px;
    line-height: 20px;
    color: inherit;
    transition: all .5s ease-in-out;
}

#sidebar a:hover {
    text-decoration: none;
    color: #C8751C;
}

#sidebar a .badge {
    position: absolute;
    margin-top: -1px;
    margin-left: 2px;
    padding: 2px 6px;
    font-size: 11px;
    background: #C8751C;
}

#sidebar .list-group,
#sidebar .list-group-item {
    padding: 0 5px 0 0;
    background-color: transparent;
}

#sidebar .list-group {
    margin-bottom: 0;
}

#sidebar .list-group .list-group {
    padding-bottom: 10px;
}

#sidebar .list-group-item .list-group-item {
    padding-left: 15px;
}

#sidebar .list-group-item .list-group-item:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 9px;
    height: 9px;
    margin-top: 6px;
    margin-left: -25px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
    font-size: 10px;
    color: white;
    opacity: 0;
    background-position: 0 5px;
    background-repeat: no-repeat;
}

#sidebar .list-group-item .list-group-item:hover:before,
#sidebar .list-group-item .list-group-item:active:before {
    margin-left: -10px;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/* Example for how to control spacing between icon and label in specific
   lists in the sidebar. To change, override in your CUSTOM_CSS */

#sidebar #social i {
    margin-right: 3px;
}

.list-group-item .badge {
    position: absolute;
    margin-top: -5px;
    margin-left: 2px;
}

/* for list-groups nested within a list-group-item, reset the bottom margin */

.list-group-item > .list-group {
    margin-bottom: 0;
}

/* for list-group-items nested within a list-group-item, reset the bottom
   padding of the last item, b/c the containing item has paddimg already
 */

.list-group-item .list-group-item:last-child {
    padding-bottom: 0;
}

.list-group-item {
    padding: 5px 5px 5px 10px;
    border: none;
    font-size: 12pt;
}

.tag-0 {
    font-size: 16pt;
}

.tag-1 {
    font-size: 13pt;
}

.tag-2 {
    font-size: 10pt;
}

.tag-3 {
    font-size: 8pt;
}

.tag-4 {
    font-size: 6pt;
}

/* END Sidebar */

#aboutme {
    padding-top: 0;
    padding-bottom: 5px;
    word-break: normal;
    -ms-word-break: normal;
}

.icon-label {
    margin-left: 10px;
}

a,
a:hover,
a:focus {
    color: inherit;
}

.entry-content img {
    height: auto;
    max-width: 100%;
}

.entry-content figcaption,
.caption {
    margin-bottom: 2px;
    font-size: small;
}

.summary img {
    height: auto;
    max-width: 100%;
}

.floatright,
.align-right {
    float: right;
}

.floatleft,
.align-left {
    float: left;
}

.floatcenter,
.align-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

figure.floatright,
.align-right {
    margin-left: 4px;
}

figure.floatleft,
.align-left {
    margin-right: 4px;
}

figure.floatcenter,
.align-center {
    margin-bottom: 11px;
}

.highlighttable pre {
    margin-bottom: 0;
}

.highlighttable {
    margin-bottom: 11px;
}

.highlighttable {
    width: 100%;
}

#categories ul,
#tags ul {
    margin-left: 0;
    padding: 0;
    list-style: none;
}

.docutils.footnote td.label {
    display: table-cell;
    border-radius: inherit;
    text-align: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    white-space: inherit;
    color: inherit;
}

.categories-timestamp {
    margin-right: 10px;
    font-size: 0.9em;
    color: #AAAAAA;
}

.tagcloud li {
    padding: 0;
}

#banner {
    position: relative;
    margin: 0 0 20px;
    padding: 70px 0; /*controls padding around inner text*/
    background-attachment: scroll;
    background-color: #C4C4C4;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner .copy {
    display: inline;
    z-index: 1;
    float: left;
    position: relative;
    padding: 20px;
    max-width: 600px;
    background: none repeat scroll 0 0 rgba(0,0,0,0.7);
}

#banner h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: "HelveticaNeue-CondensedBold","Helvetica Neue CE 600 Condensed","Helvetica Neue LT Condensed","Helvetica Neue 600 Condensed","HelveticaNeue-BoldCondensed","Helvetica Neue BoldCondensed","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 0.9;
    color: #fff;
    font-stretch: condensed;
}

#banner .intro {
    font-size: 21px;
    line-height: 1.33;
    color: #fff;
    opacity: 0.75;
}

#banner .btn,
#banner .intro {
    margin-left: 4px;
}

kbd {
    display: inline-block;
    margin: 2px;
    padding: 4px 5px;
    border: solid 1px #ccc;
    border-radius: 3px;
    border-bottom-color: #bbb;
    font-size: 14px;
    line-height: 10px;
    vertical-align: middle;
    color: #555;
    background-color: #fcfcfc;
    box-shadow: inset 0 -1px 0 #bbb;
}

/* Ace Editor Plugin */

.ace_editor {
    margin: 0 0 0 30px;
    border: none;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    padding-bottom: 2px;
}

.ace_gutter {
    margin-left: 5px;
    border: 1px solid #ccc;
}

.ace_scroller {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
}

/* Tipue search Plugin */

.navbar-default .navbar-nav > li.tipue-search {
    margin-right: 8px;
}

.navbar-default .navbar-nav > li.tipue-search:before,
.navbar-default .navbar-nav > li#choose-css-theme:before {
    content: none;
}

#tipue_search_content {
    counter-reset: tipue-counter;
    margin: 0;
    padding-top: 5px;
}

#tipue_search_content article {
    counter-increment: tipue-counter;
    background: white;
}

#tipue_search_content article:before {
    content: counter(tipue-counter);
}

.tipue_search_content_text {
    width: 80%;
    margin-top: 3px;
    padding-left: 20px;
    font: 300 15px/1.6 'Open Sans',sans-serif;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    color: #555;
}

#tipue_search_content article:before {
    padding: 1px 6px;
    border-radius: 14px;
    color: white;
    background: #F79E02;
}

#tipue_search_content h3 {
    margin-top: -19px;
}

#tipue_search_content h3 a {
    text-decoration: none;
    color: #F79E02;
}

#tipue_search_content h3 a:hover {
    text-decoration: underline;
}

#tipue_search_input {
    display: inline-block;
    float: left;
    width: 140px;
    height: 35px;
    margin-top: 8px;
    padding: 5px;
    border: none;
    border-bottom: rgba(248,172,89,0.8) solid 1px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    color: #DA862D;
    background: white;
    background-position-y: 8px;
}

.tipue-search input {
float left;
    width: 34px;
    height: 34px;
    margin-top: 8px;
    padding: 9px;
    border: solid 1px white;
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    color: white;
    background: #DA862D;
}

.tipue-search input:focus {
    outline: none;
}

/* Ace Editor Plugin */

.ace-chrome .ace_marker-layer .ace_selection {
    background: #F79E02;
}

/* START Content */

.panel {
    height: auto;
    margin-bottom: 5px;
    margin-left: 20px;
    border: 1px solid transparent;
    border-radius: 0;
    background: #DA862D;
    box-shadow: none;
}

#content .panel {
    position: static;
}

#content .panel .panel-body footer div {
    display: inline-block;
}

.panel .panel-body {
    padding: 0;
    color: white;
}

.panel .panel-body footer {
    height: 32px;
    margin-top: 0;
    padding: 5px;
    vertical-align: middle;
}

.panel .panel-body footer .label {
    border-radius: 0;
    vertical-align: middle;
    color: #F79E02;
    background: white;
}

.panel .panel-body footer .fa,
.panel .panel-body footer time {
    color: white;
}

.panel .panel-body footer a {
    color: white;
}

.panel .panel-body footer a,
#content .panel .panel-body footer a {
    text-decoration: none;
}

.panel .panel-body footer a:hover,
.panel .panel-body footer a:focus,
#content .panel .panel-body footer a:hover,
#content .panel .panel-body footer a:focus {
    text-decoration: underline;
    outline: none;
    color: white;
}

.panel .panel-body footer .badge {
    position: relative;
    bottom: 5px;
    padding: 1px 4px;
    color: #DA862D;
    background: white;
}

#content {
    padding: 10px;
    background: #F79E02;
}

#content a {
    text-decoration: underline;
    transition: all .5s ease-in-out;
}

#content a:hover,
#content a:focus {
    color: #C8751C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    color: white;
}

.page-header {
    padding-bottom: 0;
}

h1 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 10px;
    padding: 5px 30px;
    border-radius: 30px;
    border-bottom: solid 3px #DA862D;
    text-shadow: #DA862D 0 1px 0;
    font-size: 20px;
    color: #F79E02;
    background: white;
}

h1 strong:before {
    content: "“";
}

h1 strong:after {
    content: "”";
}

#content h2 {
    margin: 5px 10px 5px 30px;
    font-size: 18px;
}

h3 {
    margin: 5px 10px 5px 30px;
    font-size: 17px;
}

h4 {
    margin: 5px 10px 5px 30px;
    font-size: 16px;
}

h5 {
    margin: 5px 10px 5px 30px;
    font-size: 15px;
}

h6 {
    margin: 5px 10px 5px 30px;
    font-size: 14px;
}

.page-header {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom-width: 0;
}

#content p,
#content ol,
#content ul {
    margin: 0 0 0 30px;
    padding: 5px;
    background: white;
}

#content ol ol,
#content ol ul,
#content ul ol,
#content ul ul {
    margin-left: 10px;
    padding-left: 10px;
}

#content ol,
#content ul {
    padding-left: 30px;
}

/* START 404.html page */

#content .tipue-search {
    margin-left: 30px;
}

/* END 404.html page */

/* END Content */

/* START category */

article {
    position: relative;
    margin-bottom: 15px;
    padding: 5px;
    background: #F79E02;
}

article:last-child {
    margin-bottom: 0;
}

article > h2 {
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 30px;
    border-bottom: #DA862D solid 3px;
    font-size: 18px;
    color: #F79E02;
    background: white;
    transition: all .5s ease-in-out;
}

article > h2 a {
    text-decoration: none;
    color: #F79E02;
    transition: all .5s ease-in-out;
}

article > h2 a:hover,
article > h2 a:focus {
    text-decoration: none;
    color: #DA862D;
}

article .entry-content {
    width: 80%;
}

#content article .entry-content {
    width: auto;
}

article .summary {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 20%;
    margin-bottom: 5px;
}

article .summary .btn {
    position: relative;
    position: absolute;
    right: 10px;
    bottom: -5px;
    margin-left: 30px;
    padding: 4px;
    border: solid 1px white;
    border-radius: 0;
    font: normal normal normal 14px/1 FontAwesome;
    color: white;
    background: #DA862D;
    transition: all .5s ease-in-out;
}

article .summary .btn:hover {
    border: solid 1px #DA862D;
    color: #DA862D;
}

article .summary .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 22px;
    background: #DA862D;
    transition: all .5s ease-in-out;
}

article .summary .btn:hover:before {
    width: 100%;
    color: #DA862D;
    background: white;
}

article .summary .btn .fa-chevron-circle-right:before {
    margin-right: 5px;
}

/* END category */

/* START pagination */

.pagination {
    margin: 0;
    background: #F79E02;
}

.pagination > li {
    display: block;
    float: left;
    position: relative;
}

.pagination > li a {
    border: solid 1px #DA862D;
    color: white;
    background: #F79E02;
}

.pagination > li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    margin-top: 34px;
    background: #F79E02;
    transition: all .5s ease-in-out;
}

.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > li > a:focus,
.pagination > li > a:hover {
    border: solid 1px #DA862D;
    color: white;
    background: none;
}

.pagination > li:hover:before,
.pagination > li:focus:before {
    height: 100%;
    margin-top: 0;
    background: #DA862D;
}

.pagination > li.active:before {
    content: none;
}

.pagination > li.active:hover,
.pagination > li.active:focus {
    background: #DA862D;
}

.pagination > li:first-child > a,
.pagination > li:last-child > a {
    width: 34px;
    height: 34px;
    padding-top: 8px;
    padding-left: 9px;
    border-radius: 0;
}

.pagination > li:first-child > a:after,
.pagination > li:last-child > a:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    margin-top: 1px;
    border-top: 7px solid transparent;
    border-right: 7px solid white;
    border-bottom: 7px solid transparent;
}

.pagination > li:last-child > a:after {
    margin-left: 5px;
    border-right: none;
    border-left: 7px solid white;
}

.pagination > li.disabled:first-child > a,
.pagination > li.disabled > a,
.pagination > li.disabled > a:hover {
    border: solid 1px #DA862D;
    color: #DA862D;
}

.pagination > li.disabled:first-child > a:after {
    border-right: 7px solid #DA862D;
}

.pagination > li.disabled:last-child > a:after {
    border-left: 7px solid #DA862D;
}

.pagination > li.active a {
    border: solid 1px #DA862D;
    background: #DA862D;
}

/* END pagination */

/* START Footer */

footer {
    margin-top: 15px;
}

footer .col-xs-10 > div {
    padding: 5px;
    padding-bottom: 18px;
    border-top: #DA862D solid 4px;
    color: white;
    background: #F79E02;
}

footer .col-xs-2 {
    padding-right: 0;
}

footer .col-xs-2 .pull-right:before {
}

footer .col-xs-2 .pull-right a {
    display: block;
    position: relative;
    padding: 5px;
    border-bottom: solid 4px #C8751C;
    text-decoration: none;
    color: white;
    background: #F79E02;
    transition: all .5s ease-in-out;
}

footer .col-xs-2 .pull-right a span {
    position: relative;
    padding-left: 20px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-size: 12px;
}

footer .col-xs-2 .pull-right a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #C8751C;
    transition: all .5s ease-in-out;
}

footer .col-xs-2 .pull-right a:hover:before {
    height: 100%;
}

footer .col-xs-2 .pull-right a span:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 4px;
    height: 6px;
    margin-top: 1px;
    margin-left: -17px;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
}

footer a {
    text-decoration: underline;
    transition: all .5s ease-in-out;
}

footer a:hover,
footer a:focus {
    color: #C8751C;
}

/* END Footer */

/* Solutions for mobile and small screens  */

@media(max-width:650px) {
    #banner h1 {
        font-size: 30px; /* !important;*/
    }

    #banner .intro {
        font-size: 16px;
    }

    .navbar-nav {
        margin: 0 -15px;
    }

    #tipue_search_input {
        margin: 0 0 0 15px;
    }
}